step-function.json
{
  "StartAt": "Create new DDB record for new execution",
  "States": {
    "Create new DDB record for new execution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Arguments": {
        "TableName": "${DDBTable}",
        "Item": {
          "step_function_name": {
            "S": "{% $states.input.step_function_name %}"
          },
          "step_function_launch_time": {
            "S": "{% $fromMillis($toMillis($states.context.Execution.StartTime), '[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]') %}"
          },
          "new_instance_id": {
            "S": ""
          },
          "step_function_status": {
            "S": "STARTED"
          },
          "existing_instance_id": {
            "S": "{% $states.input.existing_instance_id %}"
          }
        }
      },
      "Next": "Create AMI from existing EC2 instance"
    },
    "Create AMI from existing EC2 instance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${CreateAMIFuncARN}",
        "Payload": {
          "existing_instance_id": "{% $states.context.Execution.Input.existing_instance_id %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Update DDB record for step function failure"
        }
      ],
      "Next": "Run EC2 Instance"
    },
    "Run EC2 Instance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${LaunchEC2FuncARN}",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Update DDB record for step function failure"
        }
      ],
      "Next": "Update DDB record for step function success"
    },
    "Update DDB record for step function success": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": "${DDBTable}",
        "Key": {
          "step_function_name": {
            "S": "{% $states.context.Execution.Input.step_function_name %}"
          },
          "step_function_launch_time": {
            "S": "{% $fromMillis($toMillis($states.context.Execution.StartTime), '[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]') %}"
          }
        },
        "UpdateExpression": "SET step_function_status = :status, new_instance_id = :instance",
        "ExpressionAttributeValues": {
          ":status": {
            "S": "COMPLETED"
          },
          ":instance": {
            "S": "{% $states.input.Instance_id %}"
          }
        }
      },
      "End": true
    },
    "Update DDB record for step function failure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": "${DDBTable}",
        "Key": {
          "step_function_name": {
            "S": "{% $states.context.Execution.Input.step_function_name %}"
          },
          "step_function_launch_time": {
            "S": "{% $fromMillis($toMillis($states.context.Execution.StartTime), '[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]') %}"
          }
        },
        "UpdateExpression": "SET step_function_status = :status",
        "ExpressionAttributeValues": {
          ":status": {
            "S": "FAILED"
          }
        }
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}